In [15]:
import zipfile
import pandas as pd
import numpy as np

In [25]:
URLS = {
    "transaction":"https://github.com/ThomasWarford/team_11/blob/main/transactions_1.csv.zip?raw=true", 
    "user": "https://github.com/ThomasWarford/team_11/blob/main/CUSTOMER_202304211626.csv.zip?raw=true",
    "product": "https://github.com/ThomasWarford/team_11/blob/main/PRODUCT_202304211040.csv.zip?raw=true",
    }

In [7]:
df_trans = pd.read_csv(URLS["transaction"], compression='zip')
df_user = pd.read_csv(URLS["user"], compression='zip')
df_product = pd.read_csv(URLS["product"], compression='zip')

In [18]:
len(df_trans.index)

6000000

In [24]:
# df_trans.head()
df_user.head()
# df_product.head()

,ID,TYPE,GENDER,DOB,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,POST_CODE,CITY,COUNTRY,POST_SUBSCRIBED,SMS_SUBSCRIBED,EMAIL_SUBSCRIBED,PHONE_SUBSCRIBED,SOCIAL_SUBSCRIBED,ANONYMISE
0,3e0698d7a4,New,Male,1988-04-16,Zelda,Schene,Zelda.SCHENE@yahoo.com,799947361,BH16,Liverpool,UK,True,True,True,True,True,True
1,3e06a74d39,Lookers,Male,2003-04-13,Betty,Asherman,Betty.ASHERMAN@yahoo.com,799947361,M1,Stockholm,Sweden,True,True,True,True,True,True
2,3e06b7960c,Loyal,Male,1972-04-20,Gusta,Leibowitz,Gusta.LEIBOWITZ@yahoo.com,799947361,BH16,Seattle,US,True,True,True,True,True,True
3,3e06ed2cfb,Need-based,Male,2002-04-13,Mona,Roca,Mona.ROCA@yahoo.com,799947361,BH16,Austin,US,True,True,True,True,True,True
4,3e07060e00,Loyal,Female,1998-04-14,Lesley,Bieck,Lesley.BIECK@yahoo.com,799947361,M1,Gothenburg,Sweden,True,True,True,True,True,True

In [17]:
df_user = df

367633