<a href="https://colab.research.google.com/github/ThomasWarford/team_11/blob/main/Peak_Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TASK 1 - Exploratory Data Analysis**

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_customer = pd.read_csv('CUSTOMER.csv') #Reading Customer Data into Dataframe

In [8]:
df_customer.info() #Here, we recognize columns 11-16 wouldn't influence the recommendation given to future customers.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536784 entries, 0 to 536783
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 536784 non-null  object
 1   TYPE               536784 non-null  object
 2   GENDER             536784 non-null  object
 3   DOB                536784 non-null  object
 4   FIRST_NAME         536784 non-null  object
 5   LAST_NAME          536784 non-null  object
 6   EMAIL              536784 non-null  object
 7   PHONE_NUMBER       536784 non-null  int64
 8   POST_CODE          536784 non-null  object
 9   CITY               536784 non-null  object
 10  COUNTRY            536784 non-null  object
 11  POST_SUBSCRIBED    536784 non-null  bool
 12  SMS_SUBSCRIBED     536784 non-null  bool
 13  EMAIL_SUBSCRIBED   536784 non-null  bool
 14  PHONE_SUBSCRIBED   536784 non-null  bool
 15  SOCIAL_SUBSCRIBED  536784 non-null  bool
 16  ANONYMISE          536784 non-null  bool
dtypes: bool(6), int64(1), object(10)
memory usage: 48.1+ MB

In [4]:
df_customer.head()

,ID,TYPE,GENDER,DOB,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,POST_CODE,CITY,COUNTRY,POST_SUBSCRIBED,SMS_SUBSCRIBED,EMAIL_SUBSCRIBED,PHONE_SUBSCRIBED,SOCIAL_SUBSCRIBED,ANONYMISE
0,3e0698d7a4,New,Male,1988-04-16,Zelda,Schene,Zelda.SCHENE@yahoo.com,799947361,BH16,Liverpool,UK,True,True,True,True,True,True
1,3e06a74d39,Lookers,Male,2003-04-13,Betty,Asherman,Betty.ASHERMAN@yahoo.com,799947361,M1,Stockholm,Sweden,True,True,True,True,True,True
2,3e06b7960c,Loyal,Male,1972-04-20,Gusta,Leibowitz,Gusta.LEIBOWITZ@yahoo.com,799947361,BH16,Seattle,US,True,True,True,True,True,True
3,3e06ed2cfb,Need-based,Male,2002-04-13,Mona,Roca,Mona.ROCA@yahoo.com,799947361,BH16,Austin,US,True,True,True,True,True,True
4,3e07060e00,Loyal,Female,1998-04-14,Lesley,Bieck,Lesley.BIECK@yahoo.com,799947361,M1,Gothenburg,Sweden,True,True,True,True,True,True

**DROPPING THE UNNECESSARY COLUMNS for CUSTOMER dataset**

In [14]:
df_cust_new=df_customer.drop(['POST_SUBSCRIBED','SMS_SUBSCRIBED','EMAIL_SUBSCRIBED','PHONE_SUBSCRIBED','SOCIAL_SUBSCRIBED','ANONYMISE'],axis=1)
df_cust_new.info() #Hence we remove these columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536784 entries, 0 to 536783
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            536784 non-null  object
 1   TYPE          536784 non-null  object
 2   GENDER        536784 non-null  object
 3   DOB           536784 non-null  object
 4   FIRST_NAME    536784 non-null  object
 5   LAST_NAME     536784 non-null  object
 6   EMAIL         536784 non-null  object
 7   PHONE_NUMBER  536784 non-null  int64
 8   POST_CODE     536784 non-null  object
 9   CITY          536784 non-null  object
 10  COUNTRY       536784 non-null  object
dtypes: int64(1), object(10)
memory usage: 45.0+ MB

In [22]:
## How many customers are there?## 536783    

no_of_customers=df_cust_new.ID.count
no_of_customers

<bound method Series.count of 0         3e0698d7a4
1         3e06a74d39
2         3e06b7960c
3         3e06ed2cfb
4         3e07060e00
             ...
536779    83975980ac
536780    839766e877
536781    8397796cf8
536782    83978b079a
536783    8397b5dfd1
Name: ID, Length: 536784, dtype: object>

In [23]:
df_cust_new

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536784 entries, 0 to 536783
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            536784 non-null  object
 1   TYPE          536784 non-null  object
 2   GENDER        536784 non-null  object
 3   DOB           536784 non-null  object
 4   FIRST_NAME    536784 non-null  object
 5   LAST_NAME     536784 non-null  object
 6   EMAIL         536784 non-null  object
 7   PHONE_NUMBER  536784 non-null  int64
 8   POST_CODE     536784 non-null  object
 9   CITY          536784 non-null  object
 10  COUNTRY       536784 non-null  object
dtypes: int64(1), object(10)
memory usage: 45.0+ MB

In [24]:
df_cust_new.DOB.

0    1988-04-16
1    2003-04-13
2    1972-04-20
3    2002-04-13
4    1998-04-14
Name: DOB, dtype: object

In [5]:
df_product = pd.read_csv('PRODUCT.csv')

In [6]:
df_product.head()

,ID,NAME,DESCRIPTION,AVAILABLE,LAST_AVAILABLE_DATE,PRICE,CATEGORY,SUB_CATEGORY,SIZE,COLOUR,GENDER,BRAND
0,735724001,AK TIN TRAPEZE DRESS D3,"Wide, straight-cut dress in cotton jersey with...",True,2022-05-25,209,Garment Full body,Dress,L,Beige,Divided,AK Dresses & Outdoor
1,735724004,AK TIN TRAPEZE DRESS D3,"Wide, straight-cut dress in cotton jersey with...",True,2022-05-25,42,Garment Full body,Dress,XS,Brown,Divided,AK Dresses & Outdoor
2,735724006,AK TIN TRAPEZE DRESS D3,"Wide, straight-cut dress in cotton jersey with...",True,2022-05-25,170,Garment Full body,Dress,XS,Beige,Divided,AK Dresses & Outdoor
3,735724007,AK TIN TRAPEZE DRESS D3,"Wide, straight-cut dress in cotton jersey with...",True,2022-05-25,289,Garment Full body,Dress,S,Black,Divided,AK Dresses & Outdoor
4,735724008,AK TIN TRAPEZE DRESS,"Wide, straight-cut dress in cotton jersey with...",True,2022-05-25,217,Garment Full body,Dress,M,Mole,Divided,AK Dresses & Outdoor